doctype html
html
  head
    meta(charset='utf-8')
    title gyrojs
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    link(href='./main.min.css', rel='stylesheet')
    script(src='./jquery.min.js')
    script(src='./gyro.min.js')
    script(src='./main.min.js')
  body
    .container
      table
        tr
          td Steer L:
          td #[span#steerl 0.00]
        tr
          td Steer R:
          td #[span#steerr 0.00]
        tr #[td #[br]]
        tr
          td Speed L:
          td #[span#speedl 0.00]
        tr
          td Speed R:
          td #[span#speedr 0.00]
        tr #[td #[br]]
        tr
          td Result L:
          td #[span#resl 0.00]
        tr
          td Result R:
          td #[span#resr 0.00]
    button MOTOR STATE
