doctype html
html
  head
    meta(charset='utf-8')
    title gyrojs
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    link(href='./main.min.css', rel='stylesheet')
    script(src='./jquery.min.js')
    script(src='./gyro.min.js')
    script(src='./main.min.js')
  body
    .container
      ul
        li X: #[span#x 0]
        li Y: #[span#y 0]
        li SteerL: #[span#steerl 0]
        li SteerR: #[span#steerr 0] 
        li SpeedL: #[span#speedl 0]
        li SpeedR: #[span#speedr 0]
        li Result L: #[span#resl 0]
        li Result R: #[span#resr 0]
